---
permalink: /
description: I'm an active open source developer pretending to know what he's doing and in turn, always breaks the build.
---

{% extends '_layouts/base.html.twig' %}
{% import '_layouts/utilities.html.twig' as utils %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,700|Montserrat|Open+Sans:300" rel="stylesheet">
{% endblock %}

{% block appbody %}
    <div class="grid-x s-homepage">
        <div class="cell large-6 c-navigation-side">
            <div class="c-flex">
                <nav>
                    <ul class="c-navigation u-list-inline">
                        {{ utils.navigation() }}
                    </ul>

                    <ul class="c-social u-list-inline">
                        {{ utils.social() }}
                    </ul>
                </nav>
            </div>
        </div>
        <div class="cell large-6 c-dark-side">
            <div class="c-flex">
                <div class="c-logo">
                    {# <img src="{{ url('/assets/images/logo-hat-xmas.png') }}" class="c-branding__hat" aria-hidden="true" /> #}
                    <div class="c-branding__logo">allejo</div>
                    <div class="c-branding__slogan">i pretend to know what i'm doing</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-59480871-1', 'auto');
        ga('send', 'pageview');
    </script>
{% endblock %}
