---
title: Support Me
permalink: /support-me/
menu: false
---

{% extends '_layouts/page.html.twig' %}

{% block title %}
    Support Me | allejo.io
{% endblock %}

{% block content %}
    {% markdown %}
        # Support Me

        I do the majority of my open source work for fun because I enjoy it. If you've found any of my projects useful and want to support its development, here are a few ways you can.

        ## Send a Donation

        If you'd like to send a donation my way as encouragement or thanks for any of the free content I've created, here are ways for you to support me.

        <div>
            <a href="https://www.buymeacoff.ee/allejo" class="c-button">
                <i class="fa fa-fw fa-coffee" aria-hidden="true"></i> Buy me a Coffee
            </a>
            <a href="https://ko-fi.com/allejo" class="c-button">
                <i class="fa fa-fw fa-heart" aria-hidden="true"></i> Support me on Ko-fi
            </a>
            <a href="https://www.paypal.me/allejo" class="c-button">
                <i class="fa fa-fw fa-paypal" aria-hidden="true"></i> Send PayPal Money
            </a>
        </div>

        ## Follow Me on Social Media

        I'm not very active on social media but I do occasionally post with regards to stuff I build or have learned; having followers makes me feel popular. Oh, let's not forget about my several attempts at being funny.

        - [GitHub](https://github.com/allejo)
        - [Instagram](https://www.instagram.com/allejome/)
        - [Twitter](https://twitter.com/allejome)

        ## Spread the Word

        While I may not be active on social media, you probably are. So if you like any of the content you found on my website or on my GitHub, consider sharing it on your social media too.

        ## Subscribe to Feeds

        Subscribe to one of my feeds to keep up to date with every worthless piece I may write.

        - [Atom Feed]({{ url(pages['Atom Feed']) }})
        - [JSON Feed]({{ url(pages['JSON Feed']) }})
    {% endmarkdown %}
{% endblock %}
