[submodule "_sass/vendor/Bourbon"]
	path = _sass/vendor/Bourbon
	url = https://github.com/Sujevo/lib-bourbon.git
	branch = v4_2
[submodule "_sass/vendor/OnTheRocks"]
	path = _sass/vendor/OnTheRocks
	url = https://github.com/allejo/OnTheRocks.git
