---
permalink: /projects/bzflag/
---

{% extends '_layouts/page.html.twig' %}

{% block body %}
    <h1>BZFlag</h1>

    <p>I've been very active in the BZFlag community, to the point where the majority of my work has been dedicated to providing projects for this community. These are my more significant projects I've worked on and still maintain to this day.</p>

    {% set projects = collections.projects | where('category', '==', 'bzflag') %}

    <div class="row">
        {% for project in projects %}
            <div class="col-md-4">
                <article class="c-tile c-project-card">
                    <header>
                        <h3>{{ project.name }}</h3>
                    </header>

                    <section>
                        {{ project.content }}
                    </section>

                    <footer>
                        <ul class="u-list-inline u-list-horizontal-separator">
                            {% if project.github %}
                                <li><a href="https://github.com/{{ project.github }}">GitHub</a></li>
                            {% endif %}

                            {% if project.website %}
                                <li><a href="{{ project.website }}">Website</a></li>
                            {% endif %}
                        </ul>
                    </footer>
                </article>
            </div>
        {% endfor %}
    </div>
{% endblock %}
