---
permalink: /projects/libraries/
---

{% extends '_layouts/page.html.twig' %}
{% import '_includes/project-repeater.html.twig' as proj_helper %}

{% block content %}
    <h1>Libraries</h1>

    <p>Here are some open source libraries I've written and maintain because they either didn't exist or the existing implementations were lacking/abandoned.</p>

    {% set projects = collections.projects | where('category', '==', 'libraries') %}
    {{ proj_helper.project_repeater(projects) }}
{% endblock %}
