.c-blog-post__header {
    a {
        color: $color-header;
        text-decoration: none;

        @include on-event() {
            text-decoration: underline;
        }
    }
}

.c-blog-post__title {
    margin-bottom: 5px;
}

.c-blog-post__date {
    margin-top: 5px;
}

.c-blog-post__body {
    ul {
        padding-left: 30px;
    }
}
