// -----------------------------------------------------------------------------
// The "tags" component houses a list of items to display as colored rectangles
// -----------------------------------------------------------------------------

.c-tags {
    li {
        background-color: $color-background-dark;
        color: $color-text-alt;
        font-size: 14px;
        padding: 2px 7px;
    }
}
