<div class="wrapper">
    <header class="c-header">
        <div class="c-header__title">
            <a href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <div class="c-navigation--mobile">
            <a href="#" class="c-navigation__menu-icon hide-up-lg" id="mobile-menu">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <nav class="c-navigation">
            <ul class="c-navigation__pages">
                {% for page in site.pages %}
                    {% if page.title %}
                        <li><a class="c-navigation__pages__page" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </header>
</div>
