<header class="c-header">
    <a class="c-header__title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="c-navigation">
        <a href="#" class="c-navigation__mobile-icon">
            <i class="fa fa-bars"></i>
        </a>

        <div class="c-navigation__pages">
            {% for page in site.pages %}
                {% if page.title %}
                    <a class="c-navigation__pages__page" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </nav>
</header>
