<header class="c-header wrapper">
    <div class="c-header__title">
        <a class="c-header__title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <nav class="c-header__navigation">
        <a href="#" class="c-navigation__menu-icon hide-up-lg">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="c-navigation__pages">
            {% for page in site.pages %}
                {% if page.title %}
                    <li><a class="c-navigation__pages__page" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>
