{% macro project_repeater(projects) %}
    <div>
        {% for project in projects | order('name', case_insensitive=true) %}
            <article class="c-card c-project-card">
                <header>
                    <h3>{{ project.name }}</h3>
                </header>

                <section>
                    {{ project.content }}
                </section>

                <footer>
                    <ul class="u-list-inline u-list-horizontal-separator">
                        {% if project.github %}
                            <li>
                                <a href="https://github.com/{{ project.github }}">
                                    <i class="fab fa-github" aria-hidden="true"></i> GitHub
                                </a>
                            </li>
                        {% endif %}

                        {% if project.website %}
                            <li>
                                <a href="{{ project.website }}">
                                    <i class="fas fa-link" aria-hidden="true"></i> Website
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </footer>
            </article>
        {% endfor %}
    </div>
{% endmacro %}
