{% macro project_repeater(projects) %}
    <div>
        {% for project in projects %}
            <div>
                <article class="c-tile c-project-card">
                    <header>
                        <h3>{{ project.name }}</h3>
                    </header>

                    <section>
                        {{ project.content }}
                    </section>

                    <footer>
                        <ul class="u-list-inline u-list-horizontal-separator">
                            {% if project.github %}
                                <li>
                                    <i class="fa fa-star"></i> 45
                                </li>
                                <li>
                                    <i class="fa fa-code-fork"></i> 2
                                </li>
                                <li>
                                    <a href="https://github.com/{{ project.github }}">
                                        <i class="fa fa-github" aria-hidden="true"></i> GitHub
                                    </a>
                                </li>
                            {% endif %}

                            {% if project.website %}
                                <li>
                                    <a href="{{ project.website }}">
                                        <i class="fa fa-url"></i> Website
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </footer>
                </article>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
