{% for site in data.social %}
    <li>
        <a href="{{ site.url }}" title="{{ site.slug }}">
            <i class="fa fa-{{ site.logo }}">
                <span class="sr-only">{{ site.slug }}</span>
            </i>
        </a>
    </li>
{% endfor %}
