---
permalink: /blog/
title: Blog
nav: 2
description: I randomly write articles where I attempt to share my knowledge and some times I go on rants about the most trivial of things. Occasionally, I tell stories and am funny.
---

{% extends '_layouts/page.html.twig' %}

{% from '_macros/blog-post.html.twig' import blog_post %}

{% set pageWideCSS = 's-blog' %}

{% block content %}
    <h1 id="blog">Blog</h1>
    <p>I randomly write articles where I attempt to share my knowledge and some times I go on rants about the most trivial of things. Occasionally, I tell stories and am funny.</p>
    <p>
        <i class="fa fa-rss" aria-hidden="true"></i>
        <a href="{{ url('/atom.xml') }}">Atom</a>
        &bull;
        <a href="{{ url('feed.json') }}">JSON</a>
    </p>

    <div>
        {% for post in collections.posts | order('date', 'DESC') %}
            {{ blog_post(post, true) }}
        {% endfor %}
    </div>
{% endblock %}
