---
permalink: /blog/
title: Blog
nav: 2
---

{% extends '_layouts/page.html.twig' %}

{% block title %}
    Blog | allejo.io
{% endblock %}

{% block content %}
    {% for post in collections.posts | order('date', 'DESC') %}
        <article class="c-blog-post">
            <header class="c-blog-post__header">
                <h1 class="c-blog-post__title"><a href="{{ url(post.permalink) }}">{{ post.title }}</a></h1>
                <p class="c-blog-post__date">{{ post.date | date('M d, Y') }}</p>
            </header>

            <section class="c-blog-post__body">
                {{ post.content | summary }}
            </section>
        </article>
    {% endfor %}
{% endblock %}
