---
permalink: /blog/%title/
collection: posts
---

{% extends '_layouts/page.html.twig' %}

{% block content %}
    <article class="c-blog-post">
        <header class="c-blog-post__header">
            <h1 class="c-blog-post__title">{{ this.title }}</h1>
            <p class="c-blog-post__date">{{ this.date | date('M d, Y') }}</p>
        </header>

        <section class="c-blog-post__body">
            {{ this.content }}
        </section>
    </article>
{% endblock %}
