.c-banner {
    margin-bottom: $Settings-Spacer_Small;
}

.c-banner__image {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
}

.c-banner__credit {
    @include font-size(h6);

    color: $Color-Dusty_Grey;
    margin-top: $Settings-Spacer_Mini;
    text-align: right;

    a {
        color: $Color-Dusty_Grey;
    }
}
