body {
    font-family: $Font-Family-OpenSans;
    line-height: 1.4em;
}

.wrapper {
    margin: {
        left: auto;
        right: auto;
    }
    width: 100%;

    @include media-breakpoint-only(lg) {
        width: 1000px;
    }
}
