.c-post {
    margin-bottom: $Settings-Spacer;
}

.c-post__title,
.c-post__meta {
    margin-bottom: $Settings-Spacer_Mini;
}

.c-post__title {
    @extend %anchor-decoration-hidden;
    @include font-size(h2);

    font-weight: 300;

    a {
        color: $Color-Black;
    }
}

.c-post__meta {
    @include font-size(h5);

    color: $Color-Dusty_Grey;
}

.c-post__content {
    font-weight: 300;
}
