$Color-Black: #000000;
$Color-White: #FFFFFF;
$Color-Azure_Radiance: #009EFF;
$Color-Dusty_Grey: #9C9C9C;
$Color-Dove_Gray: #6A6A6A;
$Color-Alto: #DDDDDD;
$Color-Catskill_White: #CEDDE8;
$Color-Waikawa_Gray: #597797;

$Font-Family-Consolas: Consolas, monaco, monospace;
$Font-Family-FiraSans: 'Fira Sans', sans-serif;
$Font-Family-OpenSans: 'Open Sans', sans-serif;
$Font-Family-Roboto: 'Roboto', sans-serif;
$Font-Family-BreeSerif: 'Bree Serif', serif;

$Font-Size-Base: 16px;
$Font-Sizes: (
    h1: floor(($Font-Size-Base * 2.6)),
    h2: floor(($Font-Size-Base * 2.15)),
    h3: ceil(($Font-Size-Base * 1.7)),
    h4: ceil(($Font-Size-Base * 1.25)),
    h5: ceil(($Font-Size-Base * 0.9)),
    h6: ceil(($Font-Size-Base * 0.8))
);

$Settings-Spacer: 30px;
$Settings-Spacer_Small: $Settings-Spacer / 2;
$Settings-Spacer_Mini: $Settings-Spacer / 6;

$Tab-Colors: (
  "orange": orange,
  "blue": blue
);
$Tab-Background: #FAFAFA;
$Tab-Border_Color: #DADADA;
$Tab-Border_Radius: 2px;
$Tab-Border_Width: 1px;
$Tab-Circle: 10px;
$Tab-Padding_X: 3px;
$Tab-Padding_Y: 12px;
$Tab-Padding_Alt: $Tab-Padding_Y / 2;
