.c-about__content {
    font-family: $Font-Family-Helvetica;
    margin-bottom: $Settings-Spacer;
}

.c-job {
    margin-bottom: $Settings-Spacer;
}

.c-job__header {
    @extend %row;
    margin-bottom: $Settings-Spacer_Tiny;

    p {
        margin-bottom: 0;
    }
}

.c-job__header__position {
    @include make-columns(8);
    @include media-breakpoint-down(md) {
        @include make-columns(12);

        margin-bottom: 0;
    }

    .title {
        font-size: 20px;
    }
}

.c-job__header__time {
    @include make-columns(4);

    text-align: right;

    @include media-breakpoint-down(md) {
        @include font-size(h6);
        @include make-columns(12);

        text-align: left;
    }
}

.c-job__description {
    color: $Color-Dove_Gray;
    font-family: $Font-Family-Helvetica;
    font-size: 14px;

    p:last-child {
        margin-bottom: $Settings-Spacer_Tiny;
    }
}

.c-job__tags {
    margin-bottom: $Settings-Spacer_Tiny;
}

.c-job__tags__tag {
    @include font-size(h6);

    background-color: $Color-Catskill_White;
    color: $Color-Waikawa_Gray;
    display: inline-block;
    padding: 4px 7px;
}
