.s-homepage {
  .picture-row {
    .c-thumbnail {
      @include respond-up(lg) {
        transform: translateX(-50%);
      }

      img {
        width: 150px;

        @include respond-up(lg) {
          width: auto;
        }
      }
    }
  }

  .site-title {
    font-size: 3rem;
    font-weight: 300;
  }

  .community-contributions {
    display: grid;
    gap: 3rem 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @include respond-up(sm) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include respond-up(lg) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    svg {
      fill: var(--stx-color-blue-light);
      max-height: 100px;
    }

    .community-contributions__image {
      align-self: center;
      padding: 0 1rem;
      text-align: center;
    }

    .community-contributions__desc {
      display: flex;
      flex-direction: column;
    }
  }
}
