.c-banner {
    &.welcome {
        height: 400px;

        .c-banner__image {
            height: 400px;
        }
    }
}

.c-welcome {
    font-weight: 300;
}

.c-welcome__header {
    @include font-size(h1);
}

.c-welcome__slug {
    @include font-size(h3);
}

.c-welcome__content {
    margin-top: $Settings-Spacer;
}
