.c-brag-cards {
    margin-top: -1 * $Settings-Spacer;
}

.c-brag-card {
    padding: {
        bottom: $Settings-Spacer;
        top: $Settings-Spacer;
    }

    &:nth-child(even) {
        background-color: #FBFBFB;

        .c-brag-card__content {
            order: 2;
        }

        .c-brag-card__image {
            order: 1;
            padding-left: 0;
            padding-right: $Settings-Spacer;
        }
    }

    .wrapper {
        display: flex;

        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
        }
    }
}

.c-brag-card__content {
    h2 {
        font-family: $Font-Family-Lato;
        font-size: 28px;
        font-weight: 300;
    }
}

.c-brag-card__image {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    padding-left: $Settings-Spacer;

    @include media-breakpoint-down(md) {
        flex-basis: 100%;
        order: -1;
        padding: 0;
        padding-bottom: $Settings-Spacer_Small;
    }
}
