pre,
code {
    background-color: $Color-Gallery;
    font-family: $Font-Family-Consolas;
    font-size: 13px;
    line-height: 1.3em;
}

code {
    padding: 1px 5px;
}

pre {
    overflow-x: scroll;
    padding: 8px 12px;

    > code {
        border: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
