%header-font-family {
    font-family: $Font-Family-Lato;
    line-height: 1.1;
}

@mixin font-size ($size) {
    font-size: map-get($Font-Sizes, $size);
    line-height: map-get($Font-Sizes, $size);
}

@each $tag, $size in $Font-Sizes {
    #{$tag} {
        @extend %header-font-family;

        font-size: map-get($Font-Sizes, $tag);
        margin-bottom: $Settings-Spacer_Small;
    }
}
