blockquote {
    border-left: 4px solid $Color-Dusty_Grey;
    color: $Color-Dove_Gray;
    font-size: 18px;
    font-style: italic;
    letter-spacing: -1px;
    margin-bottom: $Settings-Spacer_Small;
    padding-left: $Settings-Spacer_Small;

    > :last-child {
        margin-bottom: 0;
    }
}
