.u-background-dark {
  background-color: $color-background-dark;

  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-text-alt;
  }
}

.u-background-light {
  background-color: $color-background-light;
  color: $color-text;
}

.u-background-white {
  background-color: $palette-white;
  color: $color-header;
}
