.u-background-dark {
  background-color: $color-background-dark;

  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-text-dark-bg;
  }

  .u-background-darker {
    background-color: $color-blue-dark;
  }
}

.u-background-light {
  background-color: $color-background-light;
  color: $color-text-light-bg;

  .u-background-darker {
    background-color: $color-grey-light;
  }
}

.u-background-white {
  background-color: $color-white;
  color: $color-header-background-light;
}
