// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



/// Logo font family
/// @type List
$font-stack-branding: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

/// Header font family
/// @type List
$font-stack-header: 'Montserrat', sans-serif;

/// Regular font family
/// @type List
$font-stack-text: 'Hind', sans-serif;

/// Code (monospace) font family
/// @type List
$font-stack-code: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace;



$palette-dark-grey: rgb(51, 51, 51);
$palette-dark-blue: rgb(86, 99, 117);
$palette-light-blue: rgb(100, 115, 135);
$palette-cream: rgb(240, 240, 240);



/// Text color when used on a light background
/// @type Color
$color-text: $palette-dark-grey;

/// Text color when used on a dark background
/// @type Color
$color-text-alt: $palette-cream;

/// Color for headings
/// @type Color
$color-header: $palette-dark-blue;

/// Dark background color
/// @type Color
$color-background-dark: $palette-light-blue;

/// Light background color
/// @type Color
$color-background-light: $palette-cream;

/// Hyperlink color
/// @type Color
$color-hyperlink: rgb(229, 0, 80);



/// The width of the sidebar on the desktop version of the site
/// @type Integer
$sidebar-width: 18em;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    xs: 0,
    sm: 480px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/';
