.s-blog-view {
    .c-blog-post {
        @media print {
            page-break-after: always;

            h2 {
                page-break-before: always;
            }
            h3, h4 {
                page-break-after: avoid;
            }
        }
    }
}

.c-blog-post__header {
    a {
        color: $color-header-background-light;
        text-decoration: none;

        @include on-event() {
            text-decoration: underline;
        }
    }

    h2 {
        margin-top: 0;
    }
}

.c-blog-post__title {
    font-size: 2.1em;
    font-weight: normal;
    margin-bottom: 0;

    @media print {
        font-size: 1.7em;
    }
}

.c-blog-post__date {
    font-size: 0.85em;
    margin-top: 0;
}

.c-blog-post__body {
    ul {
        padding-left: 30px;
    }
}

.c-blog-post__footer {
    margin-bottom: 1em;

    div {
        margin-right: 1em;

        @include respond-up(md) {
            display: inline;
        }
    }

    .fa {
        color: $color-background-dark;
    }
}
