.c-blog-post__header {
    a {
        color: $color-header;
        text-decoration: none;

        @include on-event() {
            text-decoration: underline;
        }
    }

    h2 {
        margin-top: 0;
    }
}

.c-blog-post__title {
    font-size: 2.1em;
    font-weight: normal;
    margin-bottom: 0;
}

.c-blog-post__date {
    font-size: 0.85em;
    margin-top: 0;
}

.c-blog-post__body {
    ul {
        padding-left: 30px;
    }
}
