.s-blog-view {
  .c-blog-post {
    @media print {
      h2,
      h3,
      h4,
      h5,
      h6 {
        page-break-after: avoid;
      }
    }
  }
}

.c-blog-post__header {
  a {
    color: $color-header-background-light;
    text-decoration: none;

    @include on-event() {
      text-decoration: underline;
    }
  }

  h2 {
    margin-top: 0;
  }
}

.c-blog-post__title {
  margin-bottom: 0;

  @media print {
    @include font-size(h4);
  }
}

.c-blog-post__date {
  @include font-size(small);

  margin-top: 0;
}

.c-blog-post__body {
  ul {
    @include padding(l, 4);
  }
}

.c-blog-post__footer {
  @include margin(t, 2);
  @include margin(b, 3);

  div {
    @include margin(r, 3);

    @include respond-up(md) {
      display: inline;
    }
  }

  .fa {
    color: $color-background-dark;
  }
}
