// -----------------------------------------------------------------------------
// A "brag card" is the component used on the About page for each entry
// -----------------------------------------------------------------------------

.c-bragcard {
    margin-bottom: 30px;
}

.c-bragcard__heading-1,
.c-bragcard__heading-2 {
    margin: 0;

    @include respond-up(md) {
        display: inline-block;
    }
}

.c-bragcard__heading-1 {
    font-size: 24px;
}

.c-bragcard__heading-2 {
    font-size: 18px;

    @include respond-up(md) {
        border-left: 1px solid $palette-dark-blue;
        margin-left: 5px;
        padding-left: 5px;
    }
}

.c-bragcard__meta {
    font-style: italic;

    @include respond-up(md) {
        font-style: normal;
    }
}
