.c-button-container {
  .c-button {
    @include margin(b, 2);

    text-align: center;
    width: 100%;

    @include respond-up(sm) {
      @include margin(r, 2);

      text-align: left;
      width: auto;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.c-button {
  --_stx-button-background: transparent;
  --_stx-button-border: var(--stx-color-blue-light);
  --_stx-button-font-color: var(--_stx-button-primary);

  background-color: var(--_stx-button-background);
  border: 1px solid var(--_stx-button-border);
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;

  &,
  a& {
    color: var(--_stx-button-font-color);
  }

  @include on-event(true) {
    text-decoration: none;
  }

  .fa,
  .fas,
  .fab {
    margin-right: 5px;
  }
}

@mixin make-filled-button-variants {
  @include on-event() {
    @content;
  }

  &.c-button--filled {
    @content;
  }
}

.u-background-light,
.u-background-white {
  .c-button {
    --_stx-button-border: var(--stx-color-blue-light);
    --_stx-button-font-color: var(--stx-color-blue-light);

    @include make-filled-button-variants {
      --_stx-button-background: var(--stx-color-blue-light);
      --_stx-button-font-color: var(--stx-color-white);
    }
  }
}

.u-background-dark {
  .c-button {
    --_stx-button-border: var(--stx-color-cream);
    --_stx-button-font-color: var(--stx-color-cream);

    @include make-filled-button-variants() {
      --_stx-button-background: var(--stx-color-cream);
      --_stx-button-font-color: var(--stx-color-blue-light);
    }
  }
}
