//
// Courtesy of, http://callmenick.com/post/animating-css-only-hamburger-menu-icons
//

.c-hamburger {
    display: flex;
    position: relative;
    overflow: hidden;
    left: -5px;
    margin: 0;
    padding: 0;
    width: $hamburger-width;
    height: $hamburger-height;
    border-radius: 0;
    border: none;
    cursor: pointer;
    transition: background $hamburger-transistion-duration, left $hamburger-transistion-duration;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: ($hamburger-height / 2) - ($hamburger-bar-thickness / 2);
    left: $hamburger-padding;
    right: $hamburger-padding;
    height: $hamburger-bar-thickness;
    background: white;
  transition: background 0s $hamburger-transistion-duration;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: $hamburger-bar-thickness;
    background-color: #fff;
    content: "";
  transition-duration: $hamburger-transistion-duration, $hamburger-transistion-duration;
  transition-delay: $hamburger-transistion-duration, 0s;
}

.c-hamburger span::before {
    top: -$hamburger-bar-thickness - $hamburger-bar-padding;
  transition-property: top, transform;
}

.c-hamburger span::after {
    bottom: -$hamburger-bar-thickness - $hamburger-bar-padding;
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */

.u-nav-open {
    .c-hamburger {
        span {
            background: none;
        }
    }

    .c-hamburger span::before {
        top: 0;
        transform: rotate(45deg);
    }

    .c-hamburger span::after {
        bottom: 0;
        transform: rotate(-45deg);
    }

    .c-hamburger span::before,
    .c-hamburger span::after {
        transition-delay: 0s, $hamburger-transistion-duration;
    }
}

.c-toc-toggle {
    align-items: flex-start;
    flex-direction: column;
    gap: $hamburger-bar-padding;
    padding: 10px;
}

.c-toc-toggle__line {
    background-color: white;
    display: block;
    height: $hamburger-bar-thickness;
    margin-left: 5px;
    position: relative;

    --line-width: calc(100% - 5px);

    &::before {
        content: "";
        position: absolute;
        left: -5px;
        height: $hamburger-bar-thickness;
        width: $hamburger-bar-thickness;
        background-color: white;
    }

    &:nth-child(1) {
        width: var(--line-width);
    }

    &:nth-child(2) {
        width: calc(var(--line-width) * 2/3);
    }

    &:nth-child(3) {
        width: calc(var(--line-width) * 1/3);
    }
}

.c-header-button {
  appearance: none;
  background-color: $hamburger-color;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  height: $hamburger-height;
  width: $hamburger-width;
  transition: background $hamburger-transistion-duration, left $hamburger-transistion-duration;
}

.u-toc-open .c-toc-toggle,
.u-nav-open .c-toc-toggle,
.u-nav-open .c-hamburger {
  background-color: $hamburger-color-active;
}

.u-toc-open.u-nav-open {
  .c-toc-toggle {
    background-color: var(--stx-color-white);
  }

  .c-toc-toggle__line,
  .c-toc-toggle__line::before {
    background-color: var(--stx-color-blue-dark);
  }
}
