//
// Courtesy of, http://callmenick.com/post/animating-css-only-hamburger-menu-icons
//

.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    left: 0;
    margin: 0;
    padding: 0;
    width: $hamburger-width;
    height: $hamburger-height;
    border-radius: 0;
    border: none;
    cursor: pointer;
    transition: background $hamburger-transistion-duration, left $hamburger-transistion-duration;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: ($hamburger-height / 2) - ($hamburger-bar-thickness / 2);
    left: $hamburger-padding;
    right: $hamburger-padding;
    height: $hamburger-bar-thickness;
    background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: $hamburger-bar-thickness;
    background-color: #fff;
    content: "";
}

.c-hamburger span::before {
    top: -$hamburger-bar-thickness - $hamburger-bar-padding;
}

.c-hamburger span::after {
    bottom: -$hamburger-bar-thickness - $hamburger-bar-padding;
}

// Hamburger to "x"

.c-hamburger--htx {
    background-color: $hamburger-color;
}

.c-hamburger--htx span {
    transition: background 0s $hamburger-transistion-duration;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
    transition-duration: $hamburger-transistion-duration, $hamburger-transistion-duration;
    transition-delay: $hamburger-transistion-duration, 0s;
}

.c-hamburger--htx span::before {
    transition-property: top, transform;
}

.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}

/* active state, i.e. menu open */

.u-nav-open {
    .c-hamburger--htx {
        background-color: $hamburger-color-active;

        span {
            background: none;
        }
    }

    .c-hamburger--htx span::before {
        top: 0;
        transform: rotate(45deg);
    }

    .c-hamburger--htx span::after {
        bottom: 0;
        transform: rotate(-45deg);
    }

    .c-hamburger--htx span::before,
    .c-hamburger--htx span::after {
        transition-delay: 0s, $hamburger-transistion-duration;
    }
}
