.c-portfolio {
    *[class^="col"] {
        margin-bottom: 15px;
    }
}

.c-portfolio__category {
    text-align: center;

    svg {
        @include size(70px);

        fill: $color-background-dark;
        margin-left: auto;
        margin-right: auto;

        &#svg-stakx .border {
            fill: none;
            stroke: $color-background-dark;
            stroke-width: 2;
        }

        &#svg-library {
            rect {
                stroke: $color-background-dark;
            }
        }
    }

    .c-portfolio__category__content {
        p {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    footer {
        margin-top: auto;
    }
}
