.c-project-card {
    margin-bottom: 30px;
    text-align: left;

    header,
    footer {
        flex-grow: 0;
    }

    header {
        h3 {
            margin-top: 0;
        }
    }

    section {
        flex-grow: 1;
    }

    footer {
        align-self: flex-end;
        text-align: right;
        width: 100%;

        ul {
            margin-bottom: 0;
        }
    }
}
