// -----------------------------------------------------------------------------
// The screensize component is the breakpoint indicator displayed at the top
// right of all web pages
// -----------------------------------------------------------------------------

.c-screensize {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
}

@mixin screensize-visibility($breakpoint) {
    .c-screensize--#{$breakpoint} {
        display: none;

        @include respond-only-to($breakpoint) {
            display: block;
        }
    }
}

@each $bp in map-keys($breakpoints) {
    @include screensize-visibility($bp);
}
