// -----------------------------------------------------------------------------
// The "tags" component houses a list of items to display as colored rectangles
// -----------------------------------------------------------------------------

.c-tags {
    li {
        border: 1px solid $color-background-dark;
        border-radius: 50px;
        color: $color-header-background-light;
        font-size: 14px;
        line-height: 2rem;
        padding: 0 2em;
    }
}
