// -----------------------------------------------------------------------------
// The header component is only visible to mobile devices and is intended to
// only house the mobile responsive hamburger icon
// -----------------------------------------------------------------------------

// Don't display the header if JS is disabled
.no-js {
    .c-page-header {
        display: none;
    }
}

.c-page-header {
    $_spacing: 15px;

    background-color: $hamburger-color;
    height: $hamburger-height;
    margin: 0 (-1 * $_spacing) $_spacing;
    padding: 0 $_spacing;
    transition: background-color $hamburger-transistion-duration;

    @include respond-up(sm) {
        margin: {
            left: (-2 * $_spacing);
            right: (-2 * $_spacing);
        }
        padding: {
            left: (2 * $_spacing);
            right: (2 * $_spacing);
        }
    }

    @include respond-up(lg) {
        display: none;
    }
}

.u-nav-open {
    .c-page-header {
        background-color: $hamburger-color-active;
    }
}

.c-hamburger {
    @at-root {
        .csstransitions & {
            transition: left $hamburger-transistion-duration;
        }

        .csscalc & {
            left: 0;
        }

        .csscalc .u-nav-open & {
            left: calc(#{$sidebar-width} - #{$hamburger-width});
            position: fixed;
        }
    }
}
