// -----------------------------------------------------------------------------
// The header component is only visible to mobile devices and is intended to
// only house the mobile responsive hamburger icon
// -----------------------------------------------------------------------------

// Don't display the header if JS is disabled
.no-js {
    .c-page-header {
        display: none;
    }
}

.c-page-header {
    $_spacing: 15px;

    border-bottom: 1px solid $palette-light-blue;
    height: $hamburger-height + $_spacing;
    margin-bottom: $_spacing;
    padding-bottom: $_spacing;

    @include respond-up(lg) {
        display: none;
    }
}

.c-hamburger {
    @at-root {
        .csstransitions & {
            transition: left $hamburger-transistion-duration;
        }

        .csscalc & {
            left: 0;

            &.is-active {
                left: calc(#{$sidebar-width} - #{$hamburger-width});
                position: fixed;
            }
        }
    }
}
