// -----------------------------------------------------------------------------
// The header component is only visible to mobile devices and is intended to
// only house the mobile responsive hamburger icon
// -----------------------------------------------------------------------------

.c-page-header {
    $_spacing: 15px;

    background-color: $hamburger-color;
    height: $hamburger-height;
    margin: 0 (-1 * $_spacing) $_spacing;
    padding: 0 $_spacing;
    transition: background-color $hamburger-transistion-duration;

    @include respond-up(sm) {
        margin: {
            left: (-2 * $_spacing);
            right: (-2 * $_spacing);
        }
        padding: {
            left: (2 * $_spacing);
            right: (2 * $_spacing);
        }
    }

    @include respond-up(lg) {
        display: none;
    }

    @media print {
        display: none;
    }
}

.c-print-header {
    border-bottom: 1px solid $color-cream;
    display: none;
    margin-bottom: 30px;
    padding-bottom: 15px;

    @media print {
        display: block;
    }
}

.c-print-header__title {
    font-family: $font-stack-header;
    font-size: 60px;
    font-weight: 100;
    margin: 0;
}

.c-print-header__slogan {
    margin-bottom: 0;
    margin-top: -7px;
}

.u-nav-open {
    .c-page-header {
        background-color: $hamburger-color-active;
    }
}

.u-nav-open .c-hamburger {
    left: calc(#{$width-sidebar} - #{$hamburger-width});
    position: fixed;
}
