.s-markdown {
  a {
    text-decoration: underline;
  }

  h1, h2, h3,
  h4, h5, h6 {
    align-items: center;
    display: flex;
    width: 100%;

    .c-heading-anchor {
      @include margin(l, 2);

      opacity: 0;
      font-size: 0.75em;
      text-decoration: none;

      &::after {
        content: '\00B6';
      }

      &:focus {
        opacity: 1;
      }
    }

    &:hover {
      .c-heading-anchor {
        opacity: 1;
      }
    }
  }

  *:last-child {
    margin-bottom: 0;
  }
}
