.c-navigation ul {
    margin-bottom: 0;
    margin-top: 0;
    text-transform: lowercase;

    a {
        margin-right: 15px;
    }

    li {
        &:last-child a {
            margin-right: 0;
        }
    }
}
