.c-page {
    padding: 0 15px;

    @include respond-up(md) {
        padding: 0 30px;
    }

    @include respond-up(lg) {
        margin-left: $sidebar-width;
        max-width: 1000px;
        padding: 60px;
    }

    img {
        display: block;
        max-width: 100%;
    }

    h1 {
        &:not(:first-of-type) {
            margin-top: 1rem;

            @include respond-up(md) {
                margin-top: 2rem;
            }
        }
    }
}
