.c-page {
  @include padding(x, 3);
  @include padding(null, 5, lg);

  @include respond-up(lg) {
    margin-left: $width-sidebar;
    max-width: 1000px;
  }

  img {
    display: block;
    max-width: 100%;
  }

  h1 {
    &:not(:first-of-type) {
      @include margin(t, 3);
      @include margin(t, 4, md);
    }
  }
}
