.c-sidebar {
  @include padding(y, 5);

  background-color: $color-background-dark;
  height: 100vh;
  left: -1 * $sidebar-width;
  position: fixed;
  text-align: center;
  transition: left 0.3s;
  width: $sidebar-width;

  @include respond-up(lg) {
    left: 0;
  }

  &,
  a,
  h1 {
    color: $color-text-dark-bg;
  }
}

.u-nav-open {
  .c-sidebar {
    left: 0;
  }
}
