.c-sidebar-lhs {
  @include padding(y, 5);

  background-color: $color-background-dark;
  height: 100vh;
  left: -1 * $width-sidebar;
  position: fixed;
  text-align: center;
  top: 0;
  transition: left 0.3s;
  width: $width-sidebar;
  z-index: 10;

  @media print {
    display: none;
  }

  @include respond-up(lg) {
    left: 0;
  }

  &,
  a,
  h1 {
    color: $color-text-dark-bg;
  }
}

.c-sidebar-rhs {
  position: fixed;
  right: 0;
  top: $hamburger-height;
  visibility: hidden;
  z-index: 30;

  @include respond-up(lg) {
    @include margin(t, 5);

    position: unset;
    visibility: visible;
  }
}

.u-nav-open {
  .c-sidebar-lhs {
    left: 0;
  }
}

.u-toc-open {
  .c-sidebar-rhs {
    visibility: visible;
  }
}
