a {
  text-decoration: none;

  @include on-event() {
    color: $color-text-light-bg;
    text-decoration: underline;
  }
}

.u-background-light a,
.u-background-white a {
  color: $color-hyperlink-background-light;
}

.u-background-dark a {
  color: $color-hyperlink-background-dark;
  text-decoration: dotted;
}
