a {
  text-decoration: none;

  @include on-event() {
    color: $color-text-light-bg;
    text-decoration: underline;
  }
}

.u-background-light,
.u-background-white {
  a {
    color: var(--stx-color-red);
  }
}

.u-background-dark a {
  color: var(--stx-color-egg-yolk);
}
