label {
    &.required {
        &::after {
            color: $palette-red;
            content: '*';
            margin-left: 5px;
        }
    }
}

.form-group {
    margin-bottom: 15px;

    label {
        display: block;
    }

    textarea,
    input[type=email],
    input[type=text] {
        border: 1px solid $palette-light-grey;
        display: block;
        padding: 0.5rem;
        width: 100%;
    }
}
