table {
    border-collapse: collapse;
    table-layout: fixed;

    td,
    th {
        border: 1px dotted $color-background-dark;
        padding: 5px 15px;

        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: none;
        }
    }

    th {
        border-top: 0;
        border-bottom-style: solid;
    }

    tr:last-child {
        td {
            border-bottom: none;
        }
    }
}
