body {
  color: $color-text-light-bg;
  font-family: $font-stack-text;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-header-background-light;
  font-family: $font-stack-header;
  font-weight: 400;
  line-height: 1;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 0;

  @include respond-up(sm) {
      font-size: 3.25rem;
      font-weight: 100;
  }

  @media print {
      font-size: 30px;
      font-weight: normal;
  }
}
