{% extends '@theme/layouts/base.html.twig' %}

{% block appbody %}
    <aside class="c-sidebar">
        {% block sidebar %}
        {% endblock %}
    </aside>

    <main class="c-page">
        {% block body %}
        {% endblock %}
    </main>
{% endblock %}
