.c-page {
    background-color: $color-background-light;
    padding: 0 15px;

    @include respond-up(sm) {
        padding: 0 30px;
    }

    @include respond-up(lg) {
        margin-left: $sidebar-width;
        padding: 60px;
        max-width: 1170px;
    }
}
