.c-sidebar {
    background-color: $color-background-dark;
    height: 100vh;
    position: fixed;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
    width: $sidebar-width;

    &,
    a,
    h1 {
        color: $color-text-alt;
    }

    .c-social,
    .c-branding,
    .c-copyright,
    .c-navigation {
        margin-bottom: 60px;
        margin-top: 0;
    }

    .c-social {
        font-size: 20px;

        li {
            margin-left: 5px;
            margin-right: 5px;
        }

        a {
            text-decoration: none;
        }
    }

    .c-copyright {
        font-size: 14px;
        margin-bottom: 0;
    }
}
